.all-categoris{

  flex-shrink: 0;
  border-radius: 40px;
  background: #F0F0F0;
  padding: 70px 64px
}
.all-categoris h3{
color: #000;
text-align: center;
font-family: Integral CF;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 4rem;
}
.card-body{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.category-card-8-cols .card-body{
background-image:url('https://images.pexels.com/photos/4050388/pexels-photo-4050388.jpeg?auto=compress&cs=tinysrgb&w=800');
background-size: cover;
background-repeat: no-repeat;
height: 300px;

}

.category-card-4-cols .card-body{
  background-image:url('https://images.pexels.com/photos/3944405/pexels-photo-3944405.jpeg?auto=compress&cs=tinysrgb&w=800');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
 
  }
