.img-container {
  height: 400px;
  margin: 0 auto;
  padding: 20px 0;
  background: #fafcfc;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.10);
}

.single-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}
.single-product h2{
  color: #000;
  font-family: Integral CF;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.single-product p{
  color: rgba(0, 0, 0, 0.60);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
button.btn-sec.btn.btn-secondary{
  display: flex;
 
  height: 52px;
  padding: 16px 54px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 62px;
  background: #000;
  color: #FFF;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  cursor: pointer;
  transition: all 0.3 ease;
  -webkit-transition: all 0.3 ease;
  -moz-transition: all 0.3 ease;
  -ms-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
}
button.btn-sec.btn.btn-secondary:hover{
  background-color:#e5a400 ;
  
}
h2.mb-5.title{
color: #000;
font-family: Integral CF;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.mb-4.filtter.col-md-3 {
  display: flex;
  padding: 20px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.10);
}
.active>.page-link{
  background-color: #e5a400;
  border-color:#e5a400
}
.page-link {
  color: #e5a400;
}
.page-link:hover{
  color: #e5a400;
}